@font-face {
  font-family: 'Muller';
  src: url('./MullerRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./MullerBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
