/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
  
}

body {
  font-family: "Grenze Gotisch", "Amatic SC", serif;
  line-height: 1.5;
  background: #fff;
  color: #111;

  min-width: 320px;
  
}


/* Header */
.header {
  background-image: url(../images/1.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around
  
  
  
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 30px;
 
  backdrop-filter: blur(5px);

}

.nav a {
  color: #000000;
  margin-right: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(1rem, 0.3571rem + 2.8571vw, 2.5rem);
}

/* Hero */
.hero {
  text-align: center;
  

  color: #de3131;
  
  
  
}
.hero-image {
  display: flex;
  align-items: center;       /* вертикальное выравнивание */
  justify-content: center; 

  position: relative;        /* для абсолютного центрирования кнопки */            /* если нужно центрирование по высоте всей страницы */
  
  color: #000000; 
  font-weight: bold;
  font-size: 20px;  
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;      /* немного отступов по бокам */
}

.hero-image .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* ровно центр */
}

.adres {
  margin-left:310px;

}

.hero h1 {
  font-size: clamp(3.75rem, 1.7826rem + 8.8424vw, 10.625rem);
  padding-top: 200px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  text-decoration: none;
  border: 2px solid #000000;
  font-size: 30px;
  
}

/* Services */
.services {
  text-align: center;
  font-size: clamp(1.5625rem, 1.375rem + 0.8333vw, 2rem);
  height: 100vh;
  padding: 0 30px;
  
  
}
.df {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  
}
.services h2 {
  font-size: clamp(2.5rem, 1.4268rem + 4.8232vw, 6.25rem);
  color: rgb(222, 49, 49);
  margin-bottom: 20px;
  
}


.ee {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  overflow: hidden;
  
}



.red-line {
  border: none;
  height: 2px;
  background: red;
  width: 80%;
  margin: 0 auto;
}

.service-card {

  flex-direction: column;
  align-items: center;
  flex: 1 1 100px; 
  

}

.service-card:last-child {
  margin-bottom: 20px;
}
.service-card img {
  width: 100px;
  height: auto;
}

.service-card p {
  font-size: 50px;
  color: rgb(222, 49, 49);
}
.dh {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}


.prices {
  position: relative;
  padding: 0 30px;
  
  
}

.prices ul {
  display: flex;
  flex-direction: row;      /* элементы в ряд */
  gap: 40px;
  overflow-x: auto;         /* горизонтальный скролл */
  scroll-behavior: smooth;  /* плавный скролл */
  list-style: none;
  margin: 0;
  
}

.prices ul::-webkit-scrollbar {
  display: none; /* скрываем стандартный скролл */
}

.prices li {
  flex: 0 0 auto;           /* чтобы элементы не сжимались */
  margin: 0.5rem 0;
  font-weight: bold;
}

.prices li img {
  width: 500px;
  height: 600px;
  object-fit: cover;        /* чтобы картинки не искажались */
  border-radius: 8px;       /* если хочешь скругление */
}

/* Стрелки */
.scroll-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(222, 49, 49,0.9);
  color: #fff;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 60px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}


/* About */
.map-wrapper {
  position: relative;

  margin: 0 auto;
}

.map-wrapper iframe {
  position: relative;
  width: 100%;
  height: 400px;
  border: 0;
}

/* Блок поверх карты */
.map-overlay {
  position: absolute; /* делаем поверх */
  top: 10px;          /* отступ сверху */
  left: 10px;         /* отступ слева */
  background: rgba(255, 255, 255, 1); /* полупрозрачный фон, чтобы текст был читаемым */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}

.map-overlay h3 {
  margin: 0 0 5px 0;
  color: rgba(222, 49, 49,0.9);
  font-size: clamp(1.0625rem, 0.4464rem + 2.7381vw, 2.5rem);
}

.map-overlay p {
  margin: 0 0 10px 0;
  font-size: clamp(0.9375rem, 0.4018rem + 2.381vw, 2.1875rem);;
}

.about {
  padding: 10px;
}

.about ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
 
  
  

}

.about  li img {
  width: 200px;
  height: auto;
}


/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
  background: #000;
  color: #fff;
}


.price-list {
  list-style: none;
  text-decoration: dashed;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: start;
  

  
}
.contact .btn {
  background: rgba(222, 49, 49,0.2);
}

.price-list li {
  display: flex;
  justify-content: space-between;
  
  gap: 20px;
  border-bottom: 1px solid rgb(208, 49, 49); /* линия на всю ширину */

}

.ol {
  display: flex;
  text-align: start;
  
  justify-content: center;
  gap: 20px;
  
  padding: 0 30px 20px 0
  
 
 
}

l img {
  width: 300px;
  
  object-fit: cover;        /* чтобы картинки не искажались */
  border-radius: 8px;       /* если хочешь скругление */
}

.ol p {
  
  font-size: clamp(0.9375rem, 0.5357rem + 1.7857vw, 1.875rem);
}

.bold {
  color: rgba(222, 49, 49,0.9);
}




/* ================= MOBILE ================= */
@media (max-width: 1024px) {

  /* Навигация */
  .nav {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5px;
  }

  

 

  

  .hero-image {
    
    gap: 15px;
    font-size: 16px;
  }

  .hero-image .btn {
    position: static;
    transform: none;
  }

  .adres {
    margin-left: 0;
    text-align: center;
  }

  .btn {
    font-size: 18px;
    padding: 4px 20px;
  }

  

  .df {
    grid-template-columns: 1fr; /* ОДНА колонка */
    gap: 40px;
  }

  .service-card img {
    width: 80px;
  }

  
  

  /* Works */
  .prices {
    height: auto;
  }

  .prices li img {
    width: 260px;
    height: 340px;
  }

  .scroll-btn {
    width: 35px;
    height: 45px;
    font-size: 20px;
  }

  /* About */
  l {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ol img {
    width: 100%;
    max-width: 300px;
  }

  

  /* Partners */
  .about ul {
    flex-direction: column;
    gap: 20px;
  }

  .about li img {
    width: 100px;
  }


  /* Блок поверх карты */
.map-overlay {
  position: absolute; /* делаем поверх */
  top: 3px;          /* отступ сверху */
  left: 3px;         /* отступ слева */
  background: rgba(255, 255, 255, 1); /* полупрозрачный фон, чтобы текст был читаемым */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}

  

}
