
/* ================= RESET ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Grenze Gotisch", "Muller", system-ui;
  line-height: 1.5;
  background: #fff;
  color: #111;
  min-width: 320px;
}

/* ================= HEADER ================= */
.header {
  background: url(../images/1.png) center/contain no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.nav a {
  color: #000;
  text-decoration: none;
  font-size: clamp(0.9375rem, 0.5357rem + 1.7857vw, 1.875rem);
}

/* ================= HERO ================= */
.hero {
  text-align: center;
  color: #de3131;
}

.hero h1 {
  font-size: clamp(3.75rem, 1.7826rem + 8.8424vw, 10.625rem);
  padding-top: 200px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  font-style: normal;
  color: #000;
}

.hero-image .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.adres {
  margin-left: 310px;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  font-size: 30px;
}

/* ================= SERVICES ================= */
.services {
  background: linear-gradient(rgba(255, 255, 255, 0.9)), url(../images/paper.jpg) center/cover no-repeat;
}

h2 {
  font-size: clamp(2.5rem, 1.4268rem + 4.8232vw, 6.25rem);
  color: rgb(222, 49, 49);
  margin-bottom: 20px;
  text-align: center;
  
}

.df {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.df .service-card:last-child {
  grid-column: 1 / -1;
  justify-self: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card img {
  width: 200px;
  height: auto;
}

.service-card p {
  font-size: 50px;
  color: rgb(222, 49, 49);
}

.ee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red-line {
  border: none;
  height: 2px;
  background: red;
  width: calc(100% + 60px); /* если .services имеет padding: 0 30px */
  margin: 0 -30px;           /* компенсируем padding контейнера */
}

/* ================= PRICES ================= */
.prices {
  position: relative;
  padding: 0 30px;
}

.prices ul {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
}

.prices ul::-webkit-scrollbar {
  display: none;
}

.prices li {
  flex: 0 0 auto;
  margin: 0.5rem 0;
}

.prices li img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
}

.scroll-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(222, 49, 49, 0.9);
  color: #fff;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 60px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.scroll-btn.left { left: 0; }
.scroll-btn.right { right: 0; }

/* ================= ABOUT ================= */
.about {
  padding: 10px;
}

.about ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.about li img {
  width: 200px;
  height: auto;
}

.map-wrapper {
  position: relative;
  margin: 0 auto;
}

.map-wrapper iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.map-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 1);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.map-overlay h3 {
  margin-bottom: 5px;
  color: rgba(222, 49, 49, 0.9);
  font-size: clamp(1.0625rem, 0.4464rem + 2.7381vw, 2.5rem);
}

.map-overlay p {
  margin-bottom: 10px;
  font-size: clamp(0.9375rem, 0.4018rem + 2.381vw, 2.1875rem);
}

/* ================= PRICE-LIST ================= */
.price-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-list li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: clamp(18.75rem, 13.3929rem + 23.8095vw, 31.25rem);
  font-size: clamp(0.9375rem, 0.5357rem + 1.7857vw, 1.875rem);
}

.contact {
  background: linear-gradient(rgba(255, 255, 255, 0.9)), url(../images/paper.jpg) center/cover no-repeat;
}

.contact .btn {
  background: rgba(222, 49, 49, 0.2);
}

/* ================= OL BLOCK ================= */
.o {
  background: linear-gradient(rgba(255,255,255,0.9)), url(../images/paper.jpg) center/cover no-repeat;
  min-height: 100vh;
}

.ol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ol img {
  max-width: 30vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  flex-shrink: 0;
}

.ol p {
  max-width: 400px;
  font-size: clamp(20px, 1.5vw, 22px);
  line-height: 1.4;
}

.bold {
  color: rgba(222, 49, 49,0.9);
}

/* ================= FOOTER ================= */
.footer {
  padding: 1rem;
  text-align: center;
  background: #000;
  color: #fff;
}

/* ================= MOBILE ================= */
@media (max-width: 1024px) {
  .nav {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5px;
  }

  .hero-image {
    gap: 15px;
    font-size: 16px;
  }

  .hero-image .btn { position: static; transform: none; }

  .adres { margin-left: 0; text-align: center; }

  .btn { font-size: 18px; padding: 4px 20px; }

  .df {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .service-card img { width: 80px; }

  .prices { height: auto; }
  .prices li img { width: 260px; height: 340px; }
  .scroll-btn { width: 35px; height: 45px; font-size: 20px; }

  .ol { flex-direction: column; text-align: center; }
  .ol img { width: 200px; height: auto; }

  .about ul { flex-direction: column; gap: 20px; }
  .about li img { width: 100px; }

  .map-overlay { top: 3px; left: 3px; padding: 10px; }
  h2 { margin-bottom: 0; }
  .about h2 { margin-bottom: 20px; }
}
